<footer class="w-100 bg-black">
	<div class="container">
		<div class="row gy-4 gy-lg-0 justify-content-between">
			<div class="col-auto">
				<div class="w-100 d-flex flex-column">
					<img src="assets/img/logo-no-name.svg" alt="Logo" class="logo img-fluid">
					<div class="d-flex flex-row flex-nowrap mt-4">
						<a href="/" class="text-white text-small text-decoration-none me-4">Download Now</a>
						<a href="/" class="text-white text-small text-decoration-none">License</a>
					</div>
					<div class="d-flex flex-row flex-wrap flex-md-nowrap mt-3">
						<a href="/" class="text-white text-small text-decoration-none me-4">About</a>
						<a href="/" class="text-white text-small text-decoration-none me-4">Features</a>
						<a href="/" class="text-white text-small text-decoration-none me-4">Pricing</a>
						<a href="/" class="text-white text-small text-decoration-none me-4">News</a>
						<a href="/" class="text-white text-small text-decoration-none me-4">Help</a>
						<a href="/" class="text-white text-small text-decoration-none">Contact</a>
					</div>
					<p class="small text-white mt-4 mb-0">© 2021 Landify UI Kit. All rights reserved</p>
				</div>
			</div>
			<div class="col-auto d-none d-lg-inline-block">
				<div class="w-100 d-flex flex-column">
					<img src="assets/img/logo-no-name.svg" alt="Logo" class="logo img-fluid">
					<a href="/" class="text-white text-small text-decoration-none mt-4">Contact us</a>
					<div class="d-flex flex-row mt-3">
						<p class="text-white text-small me-4 mb-0">Whatsapp</p>
						<a href="/" class="text-white text-small text-decoration-none me-4">978 566 567</a>
						<a href="/" class="text-white text-small text-decoration-none">967 567 565</a>
					</div>
					<p class="small text-white mt-4 mb-0">© 2021 Landify UI Kit. All rights reserved</p>
				</div>
			</div>
			<div class="col-auto">
				<div class="d-flex flex-column">
					<p class="text-small text-white">Get the App</p>
					<a href="/" class="mb-3"><img src="assets/img/app-store.png" alt="App Store"></a>
					<a href="/"><img src="assets/img/google-play.png" alt="Google Play"></a>
				</div>
			</div>
		</div>
	</div>
</footer>
