mat-toolbar {
	background: transparent;
	box-shadow: none;
	transition: background-color 0.3s, box-shadow 0.3s;
	z-index: 2;

	&.scrolled {
		background-color: white;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}
}
