<mat-drawer-container autosize [hasBackdrop]="true">
	<mat-drawer #drawer class="p-4" [mode]="'over'" [position]="'end'" [opened]="false">
		<mat-list role="list">
			<a mat-list-item role="listitem" routerLink="/">Features</a>
			<a mat-list-item role="listitem" routerLink="/">Pricing</a>
			<a mat-list-item role="listitem" routerLink="/">Careers</a>
			<a mat-list-item role="listitem" routerLink="/">Help</a>
		</mat-list>
		<button mat-flat-button color="primary" class="d-md-none w-100 mb-2">Iniciar sesi&oacute;n</button>
		<button mat-flat-button class="mat-button-primary-subtle d-md-none w-100">Reg&iacute;strate</button>
	</mat-drawer>
	<app-header (menuClick)="drawer.toggle()"></app-header>
	<router-outlet></router-outlet>
	<app-footer></app-footer>
</mat-drawer-container>
