<mat-drawer-container autosize [hasBackdrop]="true">
	<mat-drawer #drawer class="p-4" [mode]="'over'" [position]="'end'" [opened]="false">
		<mat-list role="list">
			<a mat-list-item role="listitem" routerLink="/">Features</a>
			<a mat-list-item role="listitem" routerLink="/">Pricing</a>
			<a mat-list-item role="listitem" routerLink="/">Careers</a>
			<a mat-list-item role="listitem" routerLink="/">Help</a>
		</mat-list>
		<a mat-flat-button color="primary" class="d-md-none w-100 mb-2" routerLink="/auth/login" (click)="drawer.toggle()">
			Iniciar sesi&oacute;n
		</a>
		<a mat-flat-button
		   class="mat-button-primary-subtle d-md-none w-100"
		   routerLink="/auth/login"
		   (click)="drawer.toggle()">
			Reg&iacute;strate
		</a>
	</mat-drawer>
	<app-header (menuClick)="drawer.toggle()"></app-header>
	<router-outlet></router-outlet>
	<app-footer></app-footer>
</mat-drawer-container>
